.productList {
  padding-top: 52px;
  padding-bottom: 20px;
}
.productList___titleInfo {
  margin-bottom: 40px;
  h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 14px;
  }
  p {
    margin: 0 auto;
    text-align: center;
    font-style: 18px;
    @media screen and (min-width: 1280px) {
      width: 40%;
    }
  }
}

.productList___products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  row-gap: 20px;
  justify-content: space-around;
  @media screen and (min-width: 1280px) {
    row-gap: 24px;
  }
  li {
    width: 100%;
    max-width: 400px;
    list-style: none;
    border-radius: 20px;
    transition: background-color 200ms linear;
    @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 20px);
    }
    @media screen and (min-width: 1280px) {
      width: calc(100% / 3 - 24px);
    }
    &:hover {
      background-color: #eaf7e5;
    }
  }
}

.productList___orderBtn {
  width: 80px;
  height: 80px;
  background-color: orangered;
  border-radius: 100%;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transform: rotate(-20deg);
  transition: background-color 250ms linear, transform 250ms linear;
  margin: 0 auto;
  cursor: pointer;
  svg {
    fill: white;
  }
  p {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }

  &:hover,
  &:focus {
    transform: rotate(0);
    background-color: #a1c487;
  }

  &:hover p,
  &:focus p {
    transform: rotate(0);
  }
  @media screen and (min-width: 768px) {
    width: 114px;
    height: 114px;
  }
}
