.orderCall {
  display: flex;
  align-items: center;
  padding-top: 38px;
  justify-content: space-between;
}

.orderCall___info {
  max-width: 614px;
  h2 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 40px;
  }
  p {
    font-size: 16px;
    line-height: 1.33;
    width: 90%;
    margin: 0 0 80px;
  }
}

.orderCall___img {
  width: 525px;
  height: 400px;
  background-image: url("/img/orderCall.png");
  border-radius: 80px;
}
