.heroBg {
  background-color: #a1c487;
}
.hero {
  padding-top: 132px;
  padding-bottom: 32px;
}
.hero___reviewsImgs {
  display: flex;
}

.hero___reviewsImgs img:nth-child(2) {
  transform: translateX(-50%);
}

.hero___reviewsImgs img:nth-child(3) {
  transform: translateX(-100%);
}

.hero___reviewsInfo {
  background-color: white;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  transform: translateX(-150%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero___reviewsInfo p {
  margin: 0;
}
