.heroBg {
  background-color: #a1c487;
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    margin-bottom: 38px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
  }
}
.hero {
  padding-top: 32px;
  padding-bottom: 32px;
  @media screen and (min-width: 768px) {
    padding-top: 64px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 132px;
    display: flex;
  }
}
.hero___info {
  @media screen and (min-width: 1280px) {
    width: 60%;
  }
}
.hero___reviewsImgs {
  display: flex;
}

.hero___reviewsImgs img:nth-child(2) {
  transform: translateX(-50%);
}

.hero___reviewsImgs img:nth-child(3) {
  transform: translateX(-100%);
}

.hero___reviewsInfo {
  background-color: white;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  transform: translateX(-150%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero___reviewsInfo p {
  margin: 0;
}

.hero___titel {
  font-size: 40px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  margin: 16px 0;
  @media screen and (min-width: 768px) {
    font-size: 54px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 64px;
  }
  span {
    font-style: italic;
  }
}

.hero___description {
  color: white;
  max-width: 500px;
  line-height: 1.28;
  letter-spacing: -0.5px;
  margin-bottom: 32px;
}

.hero___img {
  display: none;
  background: center no-repeat url("/img/hero.png");
  background-size: contain;
  margin: 0 auto 8px;
  @media screen and (min-width: 320px) {
    display: block;
    width: 303px;
    height: 236px;
  }
  @media screen and (min-width: 768px) {
    width: 488px;
    height: 393px;
  }
  @media screen and (min-width: 1280px) {
    width: 517px;
    height: 429px;
    margin-bottom: 50px;
  }
}

.hero___shopNow {
  width: 68px;
  height: 68px;
  background-color: white;
  border-radius: 100%;
  color: #fc8a11;
  display: flex;
  align-items: center;
  p {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    transform: rotate(-20deg);
    transition: transform 250ms linear;
  }
  &:hover p,
  &:focus p {
    transform: rotate(0);
  }
  @media screen and (min-width: 768px) {
    width: 114px;
    height: 114px;
    p {
      font-size: 24px;
    }
  }
  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;
    p {
      font-size: 28px;
    }
  }
}

.hero___btnInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 169px;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    max-width: 220px;
    gap: 8px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 300px;
  }
}
