.button {
  display: inline-block;
  border: 1px solid white;
  border-radius: 20px;
  padding: 8px 14px;
  font-size: 10px;

  color: white;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  transition: background-color 500ms, color 500ms linear;
  &:hover,
  &:active {
    background-color: white;
    color: black;
  }
  @media screen and (min-width: 768px) {
    padding: 10px 20px;
    font-size: 12px;
  }
  @media screen and (min-width: 1280px) {
    padding: 12px 32px;
  }
}
