.card {
  padding: 20px 12px;
  /* min-height: 465px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid transparent;
  h3 {
    margin: 0 0 8px;
    font-size: 32px;
  }
  img {
    display: block;
    margin: 0 auto;

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }
}

.card___type {
  margin: 0;
  text-transform: capitalize;
}

.productList___price {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.isOutlined {
  border-color: green;
}
