@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.container {
  width: 100%;
  padding: 0 20px;
  margin-inline: auto;
  box-sizing: border-box;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

body {
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease;
}

.ReactModal__Overlay--after-open {
  z-index: 9999;
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
