.phoneInput {
  display: flex;
}

.phoneInput___buttonSubmite {
  margin-left: -15px;
  padding: 5px 25px;
  border: none;
  border-radius: 100px;
  color: white;
  background-color: #fc8a11;
  cursor: pointer;
  transition: background-color 250ms linear;
  &:focus,
  &:hover {
    background-color: #a1c487;
  }
}
